{
	"root": true,
	"env": {
		"browser": true,
		"es2021": true
	},
	"parserOptions": {
		"ecmaVersion": "latest",
		"sourceType": "module",
		"tsconfigRootDir": ".",
		"project": "tsconfig.json"
	},
	"plugins": ["prettier"],
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:prettier/recommended"
	],
	"overrides": [
		{
			"files": ["*.jsonc", "*.eslintrc", "*.json"],
			"parser": "jsonc-eslint-parser",
			"plugins": ["jsonc"],
			"rules": {
				"jsonc/comma-dangle": ["error", "never"]
			}
		}
	],
	"ignorePatterns": ["vite.config.ts"],
	"rules": {
		"prettier/prettier": "off",
		"@typescript-eslint/no-unused-vars": "warn"
	}
}
